body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, #A460ED, #9fc9f3, #EEEEEE); 
    min-height: 100vh;
    margin: auto;
    padding-top: 60px; /* Add padding to prevent content overlap */
}
.cart {
    font-family: Arial, sans-serif;
    margin: 20px auto;
    width: 90%;
    max-width: 500px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #f9f9f9;
}

.cart h1 {
    text-align: center;
    color: #333;
}

label {
    display: block;
    margin-top: 15px;
    font-weight: bold;
}

input, textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #333;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}
