body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, #B2EBF2, #E1BEE7); /* Gradient from white to gray */
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    max-width: 1200px;
    position: relative; /* For positioning the info box */
}
.logo {
    position: absolute;
    top: 0;
    right: 0;
    margin: 5px;
}
.logo-img {
    width: 50px;
    height: auto;
}

.image-container {
    position: relative;
    text-align: center;
    margin-right: 20px; /* Space between image and text */
}

.center-image {
    mix-blend-mode: multiply;
    width: 300px; /* Adjust size as needed */
    height: auto;
    border-radius: 8px;
}

.info-box {
    position: absolute;
    left: -100px; /* Position to the left of the image */
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 10px;
    border-radius: 5px;
    display: none; /* Initially hidden */
    z-index: 1; /* Ensure it appears on top */
}

.image-container:hover .info-box {
    display: block; /* Show on hover */
}

.text-container {
    max-width: 400px; /* Set a maximum width for text container */
}

.text-container h1 {
    margin: 0;
    font-size: 45px;
}

.text-container p {
    margin-top: 10px;
    font-size: 30px;
}
center-image {
    width: 300px; 
    height: auto;
    border-radius: 8px;
    transition: transform 0.3s ease; 
}

.image-container:hover .center-image {
    transform: translateY(-10px); 
}