* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

.logo {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 20px;
}

.logo-img {
    width: px; 
    height: auto;
}

.search-bar {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.search-bar input[type="text"] {
    width: 70%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 10px;
}

.search-bar button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.box-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.box {
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 10px;
    border-radius: 8px;
    font-size: 18px;
    position: relative;
}

.box img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 10px;
}

.box p {
    margin-top: 10px;
}

.box a {
    text-decoration: none;
    color: inherit;
}